<% include ../base_logged.ejs %>

<div id="content-wrapper">
    <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid">
        <br>
        <h1>Lista de clientes</h1>

    </div>
</div>



</body>
</html>